<div *ngIf="pagina=='scheda'">
    <h3>Scheda Libro</h3>
    <div id="riscontro">
        Posizione: {{corrispondenza.posizione}}
        <br>
        Autore: {{corrispondenza.autore}}
        <br>
        Titolo: {{corrispondenza.titolo}}
        <!--app-gestioneRecord></app-gestioneRecord-->
        <div *ngIf="corrispondenza.nominativo === '' ">
            Prestito
            <br>
            Nominativo <input id="nome" (keyup.enter) = "prestito()" type="text">
            <br>
            <button (click)="rimuovi()">Rimuovi</button>
        </div>
    </div>
    <br>
    <button (click)="togglePaginaScheda()">Esci</button>
    <br>
    <button (click)="show()">log</button>
</div>
