<div *ngIf="pagina=='scheda'">
    <h3>Scheda Libro</h3>
    <div id="riscontro">
        Posizione: {{corrispondenza.posizione}}
        <br>
        Autore: {{corrispondenza.autore}}
        <br>
        Titolo: {{corrispondenza.titolo}}
        <div *ngIf="corrispondenza.nominativo === '' ">
            <br>
            <b>Prestito</b>
            <br>
            Nominativo <input id="nome" (keyup.enter) = "prestito()" type="text">
            <br>
            <button (click)="rimuovi()">Rimuovi</button>
        </div>
        <div *ngIf="corrispondenza.nominativo !== '' ">
            <br>
            <b>In prestito a: </b> {{corrispondenza.nominativo}}
            <br>
            <button (click)="restituzione()">Restituisci</button>
        </div>
    </div>
    <br>
    <button (click)="togglePaginaScheda()">Esci</button>
</div>
